* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

#header {
  width: 100%;
  height: 10vh;
  padding-top: 20px;
  padding-left: 15%;
}
#hero {
  width: 100%;
  height: 90vh;
  background-image: url(./img/man.jpg);
}
#hero2 {
  background-color: white;
  border-color: yellow;
}
