* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

#header {
  width: 100%;
  height: 10vh;
  padding-top: 20px;
  padding-left: 15%;
}
#hero {
  width: 100%;
  height: 90vh;
  background-image: url(./img/man.jpg);
  display: flex;
}
#hero2 {
  background-color: white;
}
.hero3 {
  width: 60%;
  padding: 250px 180px;
  font-size: 28px;
  background-color: white;
}

section {
  width: 100%;
  height: 80vh;
  display: flex;

  #about {
    color: white;
    background-color: #1948ff;
    &:hover {
      background-color: #1947ff9c;
    }
    #hero4 {
      padding: 250px 100px 100px 250px;
    }
    .hero5 {
      padding: 250px;
    }
  }
}
